<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ChatBot.Properties.Settings>
            <setting name="ColorFondo" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="ColorUsuario" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ColorRobot" serializeAs="String">
                <value>Aqua</value>
            </setting>
        </ChatBot.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChatBot.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value>369cda7a9a29495eb647a8c8faf5df61</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>https://botisma.cognitiveservices.azure.com/qnamaker/v4.0</value>
            </setting>
            <setting name="Identificador" serializeAs="String">
                <value>e3c48047-80d3-4450-9231-ed4d0985840d</value>
            </setting>
        </ChatBot.Properties.Settings>
    </applicationSettings>
</configuration>